node/node_modules
node/node_modules/*
docman/node_modules
docman/node_modules/*
backend/node_modules
backend/node_modules/*
frontend/node_modules
frontend/node_modules/*
backend/uploads
backend/uploads/*
backend/.env.dev
backend/.env.prod


retrothemeidea.md

docman_fixed.zip

docman.zip

fields_documents.md

backend/src/controllers/authController.js.bak

backend/src/lib/secretToken.js.bak

node_modules/

.zencoder/

docman.users.json
